<p>{{titulo}}</p>
<div *ngIf="parametro">Parámetro de la URL<p>{{parametro}}</p>
</div>
<div *ngIf="!parametro">
  <button (click)="redirigir()">Ir a la página con parámetro</button>
  <button (click)="redirigir2()">Ir a la home</button>
</div>

