<h1>Componente de Coches</h1>

<form #formCoche="ngForm" (ngSubmit)="onSubmit(); formCoche.reset();">
    <div> 
        <label name="nombre">Nombre:</label><br>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required><br>
        <span *ngIf="nombre.touched && !nombre.valid">El nombre del coche es incorrecto</span><br>
    </div>
    <div>
        <label name="cv">CV:</label><br>
        <input type="text" name="cv" #cv="ngModel" [(ngModel)]="coche.cv" required pattern="[0-9]+"><br>
        <span *ngIf="cv.touched && !cv.valid">El cv del coche es incorrecto</span><br>
    </div>
    <div>  
        <label name="color">Color:</label><br>
        <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required pattern="[a-zA-Z#]+"><br>
        <span *ngIf="color.touched && !color.valid">El color del coche es incorrecto</span><br>
    </div>
    <div>
        <br> 
        <input type="submit" value="Guardar" [disabled] = "!formCoche.form.valid">
    </div>
</form>

<div class="" *ngIf="coches !=null">
        <h4>Listado de Coches</h4>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Caballos</th>
                <th>Color</th>
            </tr>
            <tr  *ngFor="let item of coches">
                <td>{{item.nombre}}</td>
                <td>{{item.cv}}</td>
                <td>{{item.color}}</td>
            </tr>
        </table>
</div>
