<h4>{{ titulo }}</h4>
<hr>
<div *ngIf="!trabajador_externo">
  
<ul>
    <li>{{ empleado.nombre }} - {{ empleado.edad }}</li>
    <li *ngIf="empleado.contratado == true">{{ empleado.cargo }} - Está contratado</li>
    <li *ngIf="empleado.contratado  == false">{{ empleado.cargo }} - Sin contratado</li>
</ul>
<h5>Empleado Estrella:</h5><button (click)="cambiarExterno(true)">Listado Trabajadores</button>
</div>
<hr>
<div *ngIf="trabajador_externo">   
<ul *ngFor="let trabajador of trabajadores; let i = index">
    <li><strong>Empleado {{ i + 1}}</strong></li>
    <li>{{ trabajador.nombre }} - {{ trabajador.edad }}</li>
    <li *ngIf="trabajador.contratado == true">{{ trabajador.cargo }} - Está contratado</li>
    <li *ngIf="trabajador.contratado == false">{{ trabajador.cargo }} - Sin contratado</li>
</ul>
<h5>Listado Empleados:</h5><button (click)="cambiarExterno(false)">Empleado Estrella</button>
<hr>
</div>
<h5>Colores Switch:</h5>
<div>   
    <ul [ngSwitch]="color">
        <li *ngSwitchCase="'red'" [ngStyle]="{
            'background': color,
            'color':'white',
            'padding': '20px' }">Es de color rojo      
        </li>
        <li *ngSwitchCase="'green'" [ngStyle]="{
            'background': color,
            'color':'white',
            'padding': '20px' }">Es de color rojo      
        </li>
        <li *ngSwitchDefault>
        </li>
    </ul>
</div>
<h5>Selector de colores</h5>
<button (click)="colorSeleccionaod();">Ver color</button>
<input type="text" [(ngModel)]="color_seleccionado">

<pre [style.border] = "color_seleccionado == 'red' ? '5px solid black' : 'border 1px solid white'"
    [ngClass] = "{
        fondoAzul: color_seleccionado == 'blue',
        fondoVerde: color_seleccionado == 'green',
        letraGrande: 1 === 1
    }"
     >
    <strong>Color elegido: </strong>{{ color_seleccionado }}</pre>

<div [ngStyle]="{
     'background': color_seleccionado,
      'width': '150px',
       'height': '150px',
        'margin': '10px' 
    }">
</div>


