<p>{{ titulo }}</p>

<div *ngIf="administrador; then admin else noAdmin"></div>

<ng-template #noAdmin>
  <hr />
  <button (click)="cambiarAdministrador()">Cambiar Administrador</button>
  <hr />
  <strong style="background: whitesmoke">No eres el administrador de la Web.</strong>
</ng-template>

<ng-template #admin>
  <hr />
  <button (click)="cambiarAdministrador()">Cambiar Administrador</button>
  <hr />
  <strong style="background: yellowgreen">Eres el administrador de la Web.</strong>
</ng-template>
