<h2>{{ titulo }}</h2>
<hr>
{{ fecha| date:'dd/MM/yyyy' }}
<hr>
{{ fecha| date:'fullDate'| uppercase  }}
<hr>
{{ fecha| date:'fullDate'| lowercase  }}
<hr>
{{ 5 | conversor:7  }}
<hr>
<input type="text" [(ngModel)]="prenda_guardar">
<button (click)="guardarPrenda()">Agregar</button>
<hr>
<span *ngIf="prenda_guardar"> La prenda a guardar es : <strong>{{ prenda_guardar }}</strong></span>
<h3>Listado de prendas</h3>
<ul>
    <li *ngFor="let prenda of listado_ropa; let i = index">{{ prenda }}<button (click)="eliminarPrenda(i)">Eliminar</button></li>
    
</ul>
