<h1>Componente de Artículos</h1>


<div class="" *ngIf="articulos !=null">
    <h4>Listado de Artículos</h4>

    <table *ngIf="articulos">
        <tr>
            <th>UserId</th><th>IdArticulo</th><th>Título</th><th>Cuerpo</th>
        </tr>
        <tr  *ngFor="let item of articulos">
            <td>{{item.userId}}</td>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
        </tr>
    </table>
</div>
    <!-- Mostrar solo cuando ya esté cargado todo-->
<div class="" *ngIf="!articulos">
    <span><h2>Cargando archivos ...</h2></span>
</div>

